header {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.container {
  background: linear-gradient(45deg, blue, green, yellow, red);
  background-size: 300% 300%;
  animation: colors 10s ease-in-out infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 0%;
  }
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-titulo {
  margin-left: 3em;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px #000;
}

.cabecalho-botoes {
  margin-right: 10%;
}

.sequencia-botoes {
  margin-left: 20px;
  padding: 10px 15px 10px 15px;
  text-align: center;

  border-radius: 1.5px;
  text-decoration: none;
}

.sequencia-botoes:hover {
  color: #fff;
  background-color: red;
  cursor: pointer;
  transition: .7s;
}
