header {
  background: linear-gradient(45deg, blue, green, yellow, red);
  background-size: 300% 300%;
  animation: colors 10s ease-in-out infinite;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 0%;
  }
}

.texto-nome {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px 3px #000;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

button {
  background: #D3D3D3;
  border: solid 1px #000;
  width: auto;
  height: auto;
  font-size: 13px;
}

button:hover {
  border: solid 1px #FFF;
  color: white;
  background: blue;
  transition: .5s;
}

li {
  margin-right: 5px;
  margin-bottom: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 299px){

  ul {
    margin-bottom: 8%;
  }
}

@media screen and (min-width:300px) and (max-width: 399px){

  ul {
    margin-bottom: 5%;
  }
}

@media screen and (min-width:400px) and (max-width: 767px){

  .container-fluid {
    justify-content: center;
  }

  button {
    font-size: 16px;
  }

  ul {
    margin-bottom: 3%;
  }
}

@media screen and (min-width:768px) and (max-width: 1000px){

  .texto-nome {
    font-size: 60px;
  }

  .container-fluid {
    justify-content: center;
  }

  button {
    font-size: 22px;
  }

  ul {
    margin-bottom: 2%;
  }
}

@media screen and (min-width:1001px) and (max-width: 1336px){

  .texto-nome {
    font-size: 45px;
  }

  .container-fluid {
    justify-content: center;
    align-items: center;
  }

  button {
    font-size: 15px;
  }

  li {
    margin-bottom: 5px;
  }

  ul {
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 1337px) {

  .texto-nome {
    margin-right: 70px;
    font-size: 45px;
  }

  .container-fluid {
    justify-content: center;
    align-items: center;
  }

  button {
    font-size: 15px;
  }

  li {
    margin-bottom: 5px;
  }

}
