<header>
  <div class="container">
    <div class="cabecalho">
      <h1 class="cabecalho-titulo">
        Lucas Lima - Front End Developer
      </h1>
      <nav class="cabecalho-botoes">
        <ul>
          <button class="sequencia-botoes" (click)="redirecionarHome()">Home</button>
          <button class="sequencia-botoes" (click)="redirecionarSobre()">Sobre</button>
          <button class="sequencia-botoes" (click)="redirecionarExperiencia()">Experiência</button>
          <button class="sequencia-botoes" (click)="redirecionarConquistas()">Conquistas e premiações</button>
          <button class="sequencia-botoes" (click)="redirecionarContato()">Contato</button>
        </ul>
      </nav>
    </div>
  </div>
</header>
