header {
  background: linear-gradient(45deg, blue, green, yellow, red);
  background-size: 300% 300%;
  animation: colors 10s ease-in-out infinite;
}
@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 0%;
  }
}

@media screen and (max-width: 299px){
  .texto-nome {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 3px #000;
  }

  .container-fluid {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    background: #D3D3D3;
    border: solid 1px #000;
    width: auto;
    height: auto;
    font-size: 15px;
  }

  button:hover {
    border: solid 1px #FFF;
    color: white;
    background: blue;
    transition: .5s;
  }

  li {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width:300px) and (max-width: 399px){

  .texto-nome {
    margin-left: 5px;
    margin-right: 15px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 3px #000;
  }

  .container-fluid {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    background: #D3D3D3;
    border: solid 1px #000;
    width: auto;
    height: auto;
    font-size: 15px;
  }

  button:hover {
    border: solid 1px #FFF;
    color: white;
    background: blue;
    transition: .5s;
  }

  li {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width:400px) and (max-width: 767px){

  .texto-nome {
    margin-left: 5px;
    margin-right: 15px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 3px #000;
  }

  .container-fluid {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    background: #D3D3D3;
    border: solid 1px #000;
    width: auto;
    height: auto;
    font-size: 20px;
  }

  button:hover {
    border: solid 1px #FFF;
    color: white;
    background: blue;
    transition: .5s;
  }

  li {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width:768px) and (max-width: 1000px){

  .texto-nome {
    margin-left: 5px;
    margin-right: 55px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 3px #000;
  }

  .container-fluid {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    background: #D3D3D3;
    border: solid 1px #000;
    width: auto;
    height: auto;
    font-size: 25px;
  }

  button:hover {
    border: solid 1px #FFF;
    color: white;
    background: blue;
    transition: .5s;
  }

  li {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width:1001px) and (max-width: 1336px){

  .texto-nome {
    margin-left: 5px;
    margin-right: 55px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 3px #000;
  }

  .container-fluid {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    background: #D3D3D3;
    border: solid 1px #000;
    width: auto;
    height: auto;
    font-size: 25px;
  }

  button:hover {
    border: solid 1px #FFF;
    color: white;
    background: blue;
    transition: .5s;
  }

  li {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1337px) {

  .texto-nome {
    margin-left: 3em;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 3px #000;
  }

  button {
    background: #D3D3D3;
    border: solid 1px #000;
    width: auto;
    height: auto;
    font-size: 20px;
  }

  button:hover {
    border: solid 1px #FFF;
    color: white;
    background: blue;
    transition: .5s;
  }

  li {
    margin-right: 15px;
  }

}
