body {
  position: absolute;
  width: 100%;
  height: auto;
  background: linear-gradient(135deg, #55B4F9 20%, #2B6590 80%);
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.texto-titulo {
  color: #FFF;
  font-family: 'Acme', sans-serif;
  font-size: 40px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  overflow: hidden;
  animation: text 2s steps(110, end) alternate;
  animation-fill-mode: forwards;
}

@keyframes text{
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.cards {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-individual {
  border: solid 4px #000;
  align-items: center;
  border-radius: 15px;
  width: auto;
  height: 250px;
  background-color: #FFF;
  padding: 10px 10px;
  margin-bottom: 20px;
  text-align: center;
}

.card-individual:hover {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
  border: solid 4px #FFF;
  transition: .6s;
}

.card-individual h2 {
  margin-top: 15px;
}

.card-individual i {
  margin-top: 15px;
  font-size: 50px;
}

.texto-card {
  font-weight: bold;
  font-size: 20px;
}

.redes-sociais-texto {
  color: #FFF;
  font-family: 'Acme', sans-serif;
  text-align: center;
  margin-top: 80px;
}

.redes-sociais {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.redes-sociais i {
  color: #FFF;
  font-size: 40px;
}

.redes-sociais i:hover {
  transition: .6s;
  color: #000;
}

@media screen and (max-width: 399px) {
}

@media screen and (min-width: 400px) and (max-width: 767px) {

  .card-individual h2 {
    font-size: 30px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1000px) {

  .texto-titulo {
    font-size: 50px;
  }

  .card-individual {
    padding: 20px 20px;
  }

  .card-individual h2 {
    font-size: 30px;
  }

  .redes-sociais i {
    font-size: 50px;
  }

}

@media screen and (min-width: 1001px) and (max-width: 1449px) {

  .texto-titulo {
    font-size: 60px;
  }

  .card-individual {
    padding: 15px 20px;
  }

  .card-individual h2 {
    font-size: 30px;
  }

  .redes-sociais i {
    font-size: 60px;
  }

}

@media screen and (min-width: 1450px) and (max-width: 2000px) {
  body {
    height: 100%;
  }

  .texto-titulo {
    font-size: 50px;
  }

  .card-individual {
    width: 300px;
  }

  .card-individual i {
    font-size: 80px;
  }

  .redes-sociais i {
    font-size: 80px;
  }

}

@media screen and (min-width: 2001px) and (max-width: 2561px) {

  .texto-titulo {
    font-size: 50px;
  }

  .card-individual {
    width: 300px;
  }

  .card-individual i {
    font-size: 80px;
  }

  .redes-sociais i {
    font-size: 80px;
  }
}
