<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
  </style>
</head>

<header>
  <app-header></app-header>
</header>

<body>
  <div class="container-fluid">
    <div>
      <h1 class="texto-titulo">CONTATO</h1>
    </div>
  </div>
  <div class="cards">
    <div class="card-individual">
      <h2>Email</h2>
      <i class="fa-sharp fa-solid fa-envelope"></i> <br> <br>
      <div class="texto-card">lucaslima0803@gmail.com</div>
    </div>
    <div class="card-individual">
      <h2>Telefone/Celular</h2>
      <i class="fa-sharp fa-solid fa-mobile"></i> <br> <br>
      <div class="texto-card">+55 (19) 98177-6897</div>
    </div>
  </div>
  <div>
    <h1 class="redes-sociais-texto">Minhas redes sociais</h1>
    <div class="redes-sociais">
      <a href="https://www.facebook.com/profile.php?id=100024059402650" target="_blank" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/lucas.flima03/" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/lucas-lima-2b929119a" target="_blank" title="Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://github.com/LucasFerreiraDeLima" target="_blank" title="GitHub"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</body>
