<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header>
  <app-header></app-header>
</header>
<main class="container">
  <div class="sobre-topo">
    <h1 class="sobre-titulo">
      Sobre mim:
    </h1>
    <div class="sobre-conteudo">
      <div class="box">
        <p class="texto-box">
          Meu nome é Lucas. Moro em Valinhos-SP. Tenho atualmente 19 anos, e sou um desenvolvedor em início de carreira.<br> <br>
          Gosto muito de estudar e aprender cada vez mais sobre tecnologia, especialmente a área de desenvolvimento front end.<br><br>
          Estudo Análise e Desenvolvimento de Sistemas na universidade Uniasselvi. Tenho 1 ano de experiência na área de testes de software (QA) trabalhando na IBM (projeto Itaú).<br><br>
          Gosto de trabalhar em grupo, sou curioso, e posso trabalhar tanto de forma remota quanto presencial. <br> <br>
          Para mais detalhes, consulte as outras páginas desse site.
        </p>
      </div>
      <img src="../../assets/Perfil linkedin 1.jpg" alt="Foto-Lucas" width="300px">
    </div>
  <div>
    <div class="redes-sociais">
      <p class="redes-sociais-texto">Minhas principais redes sociais:</p>
      <div class="redes-sociais-logos">
        <a href="https://www.facebook.com/profile.php?id=100024059402650"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/lucas.flima03/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/lucas-lima-2b929119a"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/LucasFerreiraDeLima"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
  </div>
</main>

<script src="https://kit.fontawesome.com/e98d1cf0bd.js" crossorigin="anonymous"></script>
