.sobre {
  width: 100%;
  height: auto;
  position: absolute;
  background: linear-gradient(135deg, #04DD00, #036C01);
}

.sobre-topo {
  margin-top: 5%;
}

.sobre-titulo {
  font-size: 50px;
  text-align: center;
  font-family: 'Acme', sans-serif;
  margin-bottom: 7px;
}

.sobre-conteudo {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 10px 20px;
  width: 600px;
  margin-top: 5%;
  position: relative;
  justify-content: center;
  background: white;
  border-radius: 10px;
  border: solid 5px black;
}

.box:hover {
  cursor: pointer;
  background-color: red;
  transition: .8s;
  color: white;
}

.texto-box {
  font-size: 15px;
  font-weight: bold;
}

img {
  width: 250px;
  margin-top: 30px;
  border-radius: 50%;
  border: solid 4px black;
  margin-bottom: 20px;
}

img:hover {
  cursor: pointer;
  border-color: red;
  transition: .6s;
}

@media screen and (max-width: 399px) {

  .sobre-conteudo {
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 400px) and (max-width: 767px){

  .sobre-conteudo {
    flex-wrap: wrap;
  }

  img {
    width: 300px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1000px){

  .sobre-conteudo {
    flex-wrap: wrap;
  }

  .texto-box {
    font-size: 25px;
  }

  img {
    width: 375px;
  }

}

@media screen and (min-width: 1001px) and (max-width: 1336px){

  .sobre-conteudo {
    flex-wrap: wrap;
  }

  .box {
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .texto-box {
    font-size: 25px;
  }

  img {
    width: 400px;
  }

}

@media screen and (min-width: 1337px) and (max-width: 2000px) {

  .sobre-titulo {
    font-size: 60px;
  }

  .sobre-conteudo {
    margin-bottom: 65px;
  }

  .box {
    margin-right: 10%;
  }

  .texto-box {
    font-size: 20px;
  }

  img {
    width: 400px;
    margin-top: 80px;
    border: solid 5px black;
  }

}

@media screen and (min-width: 2001px) and (max-width: 2561px) {

  .sobre-titulo {
    font-size: 60px;
  }

  .sobre-conteudo {
    margin-bottom: 20px;
  }

  .box {
    margin-right: 10%;
  }

  .texto-box {
    font-size: 20px;
  }

  img {
    width: 400px;
    margin-top: 80px;
    border: solid 5px black;
  }

}
