<header>
  <app-header></app-header>
</header>
<div class="sobre">
  <div class="sobre-topo">
    <h1 class="sobre-titulo">
      Sobre mim:
    </h1>
    <div class="sobre-conteudo">
      <div class="box">
        <p class="texto-box">
          Meu nome é Lucas. Moro em Valinhos-SP. Tenho atualmente 19 anos, e sou um desenvolvedor em início de carreira.<br> <br>
          Gosto muito de estudar e aprender cada vez mais sobre tecnologia, especialmente a área de desenvolvimento front end.<br><br>
          Estudo Análise e Desenvolvimento de Sistemas na universidade Uniasselvi. Tenho 1 ano de experiência na área de testes de software (QA) trabalhando na IBM (projeto Itaú).<br><br>
          Gosto de trabalhar em grupo, sou curioso, e posso trabalhar tanto de forma remota quanto presencial. <br> <br>
          Para mais detalhes, consulte as outras páginas desse site.
        </p>
      </div>
      <img src="../../assets/Perfil linkedin 1.jpg" alt="Foto-Lucas" width="400px">
    </div>
  </div>
</div>
