.requisicoes {
  width: 100%;
  height: 100%;
  position: relative;
}

.texto-inicial {
  margin-top: 5%;
  text-align: center;
}

.usuarios {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usuarios-box {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 10px;
  padding: 15px 15px 15px 15px;
  border: solid 3px black;
}

p :not(:last-child) {
  margin-right: 10px;
}
