<header>
  <app-header></app-header>
</header>
<body>
  <div class="requisicoes">
    <div class="texto-inicial">
      <h2>
        Isso aqui é um teste de requisições HTTP, pra testar meu conhecimento na área.<br>
        Peço desculpas pela simplicidade do conteúdo e do código.
      </h2>
    </div>
    <div class="usuarios">
      <div class="usuarios-box">
        <p>
          Id: {{getJson.data[0].id | json}} <br>
          Email: {{getJson.data[0].email | json}} <br>
          Primeiro nome: {{getJson.data[0].first_name | json}} <br>
          Último nome: {{getJson.data[0].last_name | json}} <br>
          <img src="{{getJson.data[0].avatar}}">
        </p>
        <p>
          Id: {{getJson.data[1].id | json}} <br>
          Email: {{getJson.data[1].email | json}} <br>
          Primeiro nome: {{getJson.data[1].first_name | json}} <br>
          Último nome: {{getJson.data[1].last_name | json}} <br>
          <img src="{{getJson.data[1].avatar}}">
        </p>
        <p>
          Id: {{getJson.data[2].id | json}} <br>
          Email: {{getJson.data[2].email | json}} <br>
          Primeiro nome: {{getJson.data[2].first_name | json}} <br>
          Último nome: {{getJson.data[2].last_name | json}} <br>
          <img src="{{getJson.data[2].avatar}}">
        </p>
        <p>
          Id: {{getJson.data[3].id | json}} <br>
          Email: {{getJson.data[3].email | json}} <br>
          Primeiro nome: {{getJson.data[3].first_name | json}} <br>
          Último nome: {{getJson.data[3].last_name | json}} <br>
          <img src="{{getJson.data[3].avatar}}">
        </p>
        <p>
          Id: {{getJson.data[4].id | json}} <br>
          Email: {{getJson.data[4].email | json}} <br>
          Primeiro nome: {{getJson.data[4].first_name | json}} <br>
          Último nome: {{getJson.data[4].last_name | json}} <br>
          <img src="{{getJson.data[4].avatar}}">
        </p>
        <p>
          Id: {{getJson.data[5].id | json}} <br>
          Email: {{getJson.data[5].email | json}} <br>
          Primeiro nome: {{getJson.data[5].first_name | json}} <br>
          Último nome: {{getJson.data[5].last_name | json}} <br>
          <img src="{{getJson.data[5].avatar}}">
        </p>
        <p>
          Id: {{getJson.data[6].id | json}} <br>
          Email: {{getJson.data[6].email | json}} <br>
          Primeiro nome: {{getJson.data[6].first_name | json}} <br>
          Último nome: {{getJson.data[6].last_name | json}} <br>
          <img src="{{getJson.data[6].avatar}}">
        </p>
      </div>
    </div>
  </div>
</body>

