<header>
  <app-header></app-header>
</header>

<body>
  <div class="conquistas">
    <h1 class="texto-topo">Conquistas, apresentações e premiações</h1>
    <h1 class="texto-topo-projeto">Projeto: Estação Meteorológica de Custo Reduzido</h1>
    <div class="explicacao-projeto">
      <div class="card-explicacao">
        <h2><strong>Explicação rápida sobre o projeto</strong></h2>
        <p>Projeto de estação meteorológica com custo reduzido, desenvolvido durante o ensino médio/técnico, colocando em prática
          conhecimentos adquiridos no decorrer do curso. <br><br> Em resumo, o projeto trata-se de um conjunto de sensores, circuitos elétricos,
          um microcontrolador (Arduino), painel solar para alimentação e dispositivo para envio de dados para a internet. <br><br>O objetivo central do projeto foi
          desenvolver uma estação meteorológica com custo reduzido, para auxiliar principalmente agricultores de baixa renda que não podem pagar por
          tecnologias mais caras. <br><br>Foi um projeto de TCC, desenvolvido desde o 1º ano, e apresentado em diversos eventos de tecnologia no estado de São Paulo.<br><br>
          Para mais detalhes, há uma explicação sobre o projeto no Linkedin (link para o meu perfil na seção
          <a href="https://luminous-souffle-87bf9c.netlify.app/contato">Contato</a> desse site)
        </p>
      </div>
    </div>
    <h1 class="titulo-2018"><strong>2018</strong></h1>
    <div class="conquistas-1-ano">
      <div class="card-1-ano">
        <h1>Feiras de tecnologia</h1>
        <p><strong>9ª Bentotec - Categoria: Indústria</strong></p> <img src="../../assets/bronze.png" width="75px">
      </div>
      <img src="../../assets/estacao-2018.png" width="250px">
    </div>
    <h1 class="titulo-2019"><strong>2019</strong></h1>
    <div class="conquistas-1-ano">
      <div class="card-1-ano">
        <h1>Feiras de tecnologia</h1>
        <p>
          <strong>3ª FETEC - Categoria: Meio Ambiente</strong> <img src="../../assets/prata.png" width="75px"><br><br>
          10ª Bentotec<br><br>
          9ª Bragantec<br><br>
          Mostra de Trabalhos da VIII SNCT – Semana Nacional de Ciência e Tecnologia do IFSP Hortolândia<br><br>
          Festival de Inovação e Criatividade de Vinhedo
        </p>
      </div>
      <img src="../../assets/estacao-2019.png" width="350px" height="450px">
    </div>
    <h1 class="titulo-2019"><strong>2020</strong></h1>
    <div class="conquistas-1-ano">
      <div class="card-1-ano">
        <h1>Feiras de tecnologia</h1>
        <p>
          <strong>Bentotec Experience (online)</strong> <img src="../../assets/ouro.png" width="75px"><br><br>
          <strong>10ª Bragantec (online)</strong> <img src="../../assets/ouro.png" width="75px"><br><br>
          19ª Feira Brasileira de Ciência e Engenharia - FEBRACE (online)
        </p>
      </div>
      <img src="../../assets/premiacao-2020.png" width="450px" height="350px">
    </div>
  </div>
</body>
