<div class="container-home">
  <div class="titulo-home">
    <div>
      Lucas Lima - Front End Developer
    </div>
  </div>
  <div class="clicar-infos">
    <nav class="botoes">
      <button class="botao-individual" (click)="redirecionarSobre()">SOBRE</button>
      <button class="botao-individual" (click)="redirecionarExperiencia()">EXPERIÊNCIA</button>
      <button class="botao-individual" (click)="redirecionarConquistas()">CONQUISTAS</button>
      <button class="botao-individual" (click)="redirecionarContato()">CONTATO</button>
    </nav>
  </div>
</div>
